.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div.meny {
  padding-left: 10vh;
  padding-right: 10vh;
  padding-top: 10vw;

height: 500px;
width: 100vh;
background-color: #E0E0E0;

align-items: center;
}

.menybar {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  
  -webkit-flex-flow: row nowrap;
  justify-content: space-around;
}

.tinder {
  padding-left: 50%;
  padding-top: 5vw;
  margin: auto;
  list-style: none;
  

  height: 30vw;
  width: 50VH;
  background-color: rgb(219, 161, 202);
  align-items: center;
}
.doggo{
  height: 100px;
  width: 100px;
  background-color: #E0E0E0;
  align-self: center;
}

.ruta {
  background: #FFCDB2;
  padding: 5px;
  width: 110px;
  height: 110px;
  margin: auto;
  align-self: flex-end;
  
  line-height: 100px;
  color: #333333;
  font-size: 1em;
  text-align: center;
}

.ruta2 {
  background: #FFB4A2;
  padding: 5px;
  width: 110px;
  height: 110px;
  margin: auto;
  align-self: flex-end;
  
  line-height: 100px;
  color: #333333;
  font-size: 1em;
  text-align: center;
}

.ruta3 {
  background: #FFCDB2;
  padding: 5px;
  width: 110px;
  height: 120px;
  margin: auto;
  align-self: flex-end;
  
  line-height: 100px;
  color: #333333;
  font-size: 1em;
  text-align: center;
}
